@use "../../styles/variables" as *;

.contactForm {
  margin-bottom: 80px;
}

.sectionWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.contactFormForm {
  width: 100%;
}

.contactFormInput {
  margin-bottom: 16px;

  label {
    width: 100%;
    display: block;
    font-weight: 300;
    color: var(--color-fg);
    margin-bottom: 4px;
  }

  select,
  input,
  textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    background: var(--color-surface);
    padding: 10px;
    font-size: 16px;
    border-radius: $border-radius;
    color: var(--color-fg);
  }

  textarea {
    min-height: 70px;
  }
}

.submitSuccess {
  color: var(--color-fg);
  font-size: 18px;
  text-align: center;
}
