@use "../../styles/variables" as *;

.news {
  margin-bottom: 120px;

  .newsContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .newsContainerItem {
      background: $color-surface;
      border-radius: $border-radius;
      display: flex;
      text-decoration: none;
      flex-direction: column;
      color: $color-foreground;
      width: calc(33.33% - 22.5px);

      @include tablet {
        width: calc(50% - 15px);
      }
      @include mobile {
        width: calc(100%);
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: 0.2s ease-in;
      }

      .newsContainerItemContent {
        padding: 30px;
        flex-grow: 1;
      }

      h3 {
        margin-top: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      img {
        width: 100%;
        border-radius: $border-radius $border-radius 0 0;
        display: block;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
      }
      .newsItemDescription {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 12px;
        margin-bottom: 0;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
}
