@use "../../styles/variables" as *;

.services {
  position: relative;
  z-index: 1;
  &:not(.blockMt) {
    margin-top: calc(100vh + 300px);
  }
  margin-bottom: 120px;

  .servicesItemIcon {
    margin-bottom: 16px;
    width: 64px;
    height: 64px;
  }
  .servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .servicesItem {
      padding: 30px;
      border-radius: $border-radius;
      text-decoration: none;
      background: $color-surface-alt;
      color: $color-foreground;
      box-sizing: border-box;
      width: calc((100% / 3) - 22.5px);

      @include tablet {
        width: calc(50% - 15px);
      }
      @include mobile {
        width: calc(100%);
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: 0.2s ease-in;
      }

      h3 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }

      &:first-child {
        color: $color-surface;
        background: $color-accent;

        h3 {
          color: $color-surface;
        }
      }
      .servicesItemDescription {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        margin-top: 12px;
      }
    }
  }
}
