@use "../../styles/variables" as *;

.nav {
  margin-top: 20px;
  position: relative;
  z-index: 2;
  position: sticky;

  &.isSticky {
    margin-top: 0;
    top: 0;
    z-index: 100;
    background: $color-surface;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease-in-out;
  }

  a {
    color: $color-foreground;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-underline-offset: 6px;

    &:hover {
      opacity: 0.6;
    }
  }
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mobile {
    padding: 0;
  }
}

.logotype {
  display: block;
  max-width: 160px;
  @include mobile {
    max-width: 120px;
  }
}

.menuListGutter {
  display: flex;
  align-items: center;
  gap: 24px;
  @include tablet {
    width: 100%;
    left: 0;
    position: absolute;
    display: none;
    top: 100%;

    &.isOpen {
      display: block;
    }

    a {
      width: 100%;
      padding: 20px;
      background: $color-surface;
      text-align: left;
      border-top: 1px solid $color-border;
      &:last-of-type {
        border-bottom: 2px solid $color-border;
      }
    }
  }
}

.burgerItem {
  display: none;
  @include tablet {
    display: block;
  }
}

.burgerActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger {
  all: unset;
  height: 50px;
  display: inline;

  &.isOpen {
    .burgerLine:first-of-type {
      transform: rotate(45deg);
    }
    .burgerLine:last-of-type {
      transform: rotate(-45deg);
      width: 38px;
      margin-top: -10px;
    }
  }
}

.burgerLine {
  height: 2px;
  width: 38px;
  border-radius: 4px;
  background-color: $color-foreground;
  margin-bottom: 8px;
  transition: 0.2s ease-in;

  &:last-child {
    width: 28px;
  }
}

.language {
  color: $color-foreground;
  fill: $color-foreground;
}
